
.header{
    background-color: rgb(60, 58, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 80px;
    border-radius: 20px;
}

.header a{
   text-decoration: none;
   background-color: rgb(77, 77, 163);
   border-radius: 5px;
   padding: 5px;
   margin-top: 80px;
   color: #fff;
   font-weight: 600;
   font-size: 1.1rem;
}

.footer{
    background-color: rgb(60, 58, 58);
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;

}